.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.063rem;
    width: 100%;
    background-color: var(--black);
    padding: 0 var(--spacing-container-padding);
    
}

.footer__text {
    text-align: center;
    color: var(--white);
    font-size: var(--font-very-small);
    text-transform: uppercase;
}