.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4rem;
  padding: 0 var(--spacing-container-padding);
  border-bottom: 0.125rem solid var(--gray-100);
}

.header__shoppingCart {
  position: relative;

  height: 1.25rem;
  width: 1.063rem;
  border: none;

  background-color: transparent;
}

.shoppingCart__img {
  height: 1.25rem;
  width: 1.063rem;

  object-fit: contain;
}

.shoppingCart__totalItems {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(3px);

  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;

  background-color: var(--primary);

  font-size: 0.625rem;
  color: var(--white);
}
