.menu {
  display: grid;
  grid-template:
    "title order" 9.313rem
    "filters produtsList"
    ". button"
    / 9.813rem 1fr;
  column-gap: 2.75rem;

  min-height: calc(100vh - 4rem - 2.063rem);
  padding: 0 var(--spacing-container-padding);
}

.menu__title {
  grid-area: title;

  margin-top: 2.5rem;

  font-size: var(--font-very-large);
  color: var(--black);
}

.menu__order {
  grid-area: order;
  align-self: center;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.625rem;
  width: 8.875rem;
  border: var(--black) solid 0.063rem;

  text-align: start;

  cursor: pointer;
}

.menu__order select {
  height: 2.625rem;
  width: 8.875rem;
  border: var(--black) solid 0.063rem;
  padding-left: 0.625rem;

  font-size: var(--font-small);
  color: var(--black);
  line-height: 2.375rem;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
}

.menu__order select:focus {
  outline: none;
  text-align: start;
}

.menu__order select:focus option[disabled] {
  display: none;
}

.menu__filters {
  grid-area: filters;
}

.menu__produtsList {
  grid-area: produtsList;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    max(10.125rem, min(calc(9.438rem + 2.9000000000000004vw), 12.1875rem))
  );
  grid-template-rows: auto;
  column-gap: max(1.1875rem, min(calc(0.25rem + 4vw), 4rem));
  row-gap: max(1.125rem, min(calc(0.667rem + 2vw), 2.5rem));
  justify-content: center;

  padding: 0 10px;
}

.menu__moreItems {
  grid-area: button;
  justify-self: center;

  height: 2.188rem;
  width: 10.938rem;
  margin: 70px 0 35px;
  background-color: var(--primary);

  color: var(--white);
  font-size: var(--font-very-small);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  transition-property: color, background-color;
  transition-duration: 0.5s;
}

.menu__moreItems:hover {
  border: 3px solid var(--primary);
  background-color: var(--white);
  color: var(--primary);

  animation-name: hvr-back-pulse;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: perspective(1px) translateZ(0);
}

.menu__bottom {
  display: none;

  height: 3.063rem;
  width: 100%;
  border: solid 0.063rem var(--black);
  margin-bottom: 2.375rem;

  font-size: var(--font-medium);
  color: #666666;
  text-align: center;

  transition: all 0.2s linear;
}

.menu__bottom:hover {
  background-color: var(--black);

  color: var(--white);
  font-weight: bold;
}

.menu__bottom--filter {
  grid-area: filters;
}

.menu__bottom--ordenar {
  grid-area: order;
}

@media (max-width: 750px) {
  .hideElementMobileVersion {
    display: none;
  }

  .menu {
    grid-template:
      "title title"
      "filters order"
      "produtsList produtsList"
      "button button"
      / 1fr 1fr;
    column-gap: 0;
  }

  .menu__bottom {
    display: block;
  }
  .menu__title {
    text-align: center;
    margin-bottom: 0.75rem;
  }

  .menu__produtsList {
    padding: 0px;
  }
}
